@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$blue :#0C5DF4;
$black :#12192C;
$secBlack :#B6CEFC;
$white :#FFF;
$gray :	#c0c0c8;
$pink : #FF81AE;
body{
  font-family: 'Poppins', sans-serif;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid $black;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: $black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid $black;
  background: $black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link{
  text-decoration: none;
  color: inherit;
}

.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
  small{
    font-size: 10px;
    letter-spacing: .5px;
    margin-left: 2px;
    border-left: $pink 3px solid;
    padding-left: 3px;
    color: $pink;
    }
}

.topRight{
    display: flex;
    align-items: flex-end;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;

}

.container{
  display: flex;
  margin-top: 10px;
}
.pages{
  flex: 4;
}
//sidebar
.sidebar {
  flex: .7;
  height: calc(100vh - 50px);
  background-color: $white;
  position: sticky;
  top: 50px;
  border-radius: 20px;
}

.sidebarWrapper {
  padding: 20px;
  color: $black;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: $black;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 7px;
  span{
    padding-left: 10px;
  }
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: $black;
  color: $white;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}
// home
.home{
  flex: 4;
}

.homeWidgets{
  display: flex;
  margin: 20px;
}

//featured
.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.featuredTitle{
    font-size: 20px;
}

.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney{
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredIcon.negative{
    color: red;
}

.featuredSub{
    font-size: 15px;
    color: gray;
}

//users Tabel
.userList {
  flex: 4;
  margin-left: 1.5rem;
}
.userListEdit{
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: $blue;
  color: rgb(247, 247, 247);
  cursor: pointer;
  margin-right: 20px;
}

.userListDelete{
  color: $pink;
  cursor: pointer;
}
//user page
.user {
  flex: 4;
  padding: 20px;
  margin-left: 1.5rem;
}
.userTitle{
  position: relative;
}
.userTitle::after {
  content:'';
  position: absolute;
  background-color: $pink;
  width: 3px;
  height: 60%;
  top: 0;
  left:-15px;
 
}
.userTitle::before{
  content:'';
  position: absolute;
  background-color: $pink;
  width: 40%;
  height: 3px;
  top: 0;
  left:-12px;
 
}

.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: $blue;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.userContainer {
  display: flex;
  margin-top: 20px;
}

.userShow {
  flex: 1;
  align-self: flex-start;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.userUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.userShowTop {
  display: flex;
  align-items: center;
}

.userShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.userShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.userShowUsername {
  font-weight: 600;
  text-transform: uppercase; 
}

.userShowUserTitle {
  font-weight: 300;
  border-radius: 10px;
  padding: 0px 8px;
  background-color: $pink;
  width: max-content;
  color: rgb(245, 245, 245);
  font-weight: bold;

}

.userShowBottom{
    margin-top: 20px;
}

.userShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.userShowInfo{
    display: flex;
    text-transform: uppercase; 
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.userShowIcon{
    font-size: 16px !important;
}

.userShowInfoTitle{
    margin-left: 10px;
}

.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.userUpdateForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 18px;
    gap: 2.4rem;
}
.userUpdateLeft{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap:6rem;
  margin-left: 1rem;
}


.userUpdateItem{
    display: flex;
    flex-direction: column;
}

.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.userUpdateInput{
    border: none;
    font-weight: bold;
    text-transform: uppercase; 
    width: 250px;
    height: 30px;
    font-size: 1.05rem;
    border-bottom: 1px solid gray;
}

.userUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 7px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}
//New user
.newUser {
  flex: 4;
  margin-left: 1rem;
}
.newUserTitle{
  position: relative;
}
.newUserTitle::after {
  content:'';
  position: absolute;
  background-color: $pink;
  width: 3px;
  height: 60%;
  top: 0;
  left:-15px;
 
}
.newUserTitle::before{
  content:'';
  position: absolute;
  background-color: $pink;
  width: 5%;
  height: 3px;
  top: 0;
  left:-12px;
 
}

.newUserForm {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.newUserItem {
  width: 440px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.newUserItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.newUserItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  color: $black;
  font-size: 1rem;
  font-weight: bold;
  &::placeholder {
    font-weight: lighter;
    font-size: .9rem;
  }
}

.newUserGender > input {
  margin-top: 15px;
}

.newUserGender>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.newUserSelect{
    height: 40px;
    border-radius: 5px;
}

.newUserButton{
    width:300px;
    justify-self: center;
    border: none;
    background-color: $blue;
    color: white;
    padding: 12px 15px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    letter-spacing: .6px;
    cursor: pointer;
    &.reset{
      background-color: $black;
      color: #f3f3f3;

    }
}
.message {
  font-size: 1.2em;
  text-align: center;
  color: #36a936;
}


